<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- 
		<property name="driverClassName" value="com.mysql.jdbc.Driver"> </property>
		<property name="url" value="jdbc:mysql://us-cdbr-iron-east-04.cleardb.net:3306/ad_1cb747643ed3fa8"></property>
		<property name="username" value="ba28291f29f58c"></property>
		<property name="password" value="08d91426"></property>
		 -->
		<property name="driverClassName" value="${jdbc.driverClassName}" />
    	<property name="url" value="${jdbc.url}" />
    	<property name="username" value="${jdbc.username}" />
    	<property name="password" value="${jdbc.password}" />
</bean>

<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="classpath:jdbc.properties" />
</bean>

<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">    
	<property name="dataSource" ref="dataSource" />    
</bean>
 
<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">	
	<property name="configLocation" value="classpath:SqlMapConfig.xml" />
	<property name="dataSource" ref="dataSource" />
</bean>

<bean id="PartyHotRegisterService" class="com.party.service.PartyHotRegisterService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyHotLoginService" class="com.party.service.PartyHotLoginService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyPreferVideoService" class="com.party.service.PartyPreferVideoService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyPreferPlayerService" class="com.party.service.PartyPreferPlayerService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyTopVideoService" class="com.party.service.PartyTopVideoService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyHotPlayerVideoService" class="com.party.service.PartyHotPlayerVideoService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyNewPlayerVideoService" class="com.party.service.PartyNewPlayerVideoService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartySearchPlayerService" class="com.party.service.PartySearchPlayerService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyPlayerDetailsService" class="com.party.service.PartyPlayerDetailsService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartySearchVideoService" class="com.party.service.PartySearchVideoService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyVideoDetailsService" class="com.party.service.PartyVideoDetailsService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartySearchService" class="com.party.service.PartySearchService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartySelfPageService" class="com.party.service.PartySelfPageService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartySelfPreferService" class="com.party.service.PartySelfPreferService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartySelfVideoService" class="com.party.service.PartySelfVideoService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="PartyGoodsVideoService" class="com.party.service.PartyGoodsVideoService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

<bean id="partyDao" class= "com.party.dao.PartyDaoImpl">
	<property name="sqlMapClient" ref="sqlMapClient"></property>
</bean>



<bean id="partyHotPlayerService" class="com.party.service.PartyHotPlayerService">
	<property name="partyDao" ref="partyDao"></property>
</bean>

</beans>
